.alertas-button {
    top: calc(var(--menu-topo) + 290px);
}

.alertas-button-conteudo.ativo {
    background-color: #ff5533;
}

.alertas-button-conteudo.ativo:hover {
    background-color: #f07d66;
}

.alarme {
    background-color: white;
    border: 5px solid black;
}

.alarme.motivo {
    white-space: pre-line;
}