.arvore-acervo-item {
  padding-bottom: 10px;
}
.arvore-acervo-item .texto{
  font-weight: bold;
  display: inline-block;
  margin-top: 0px;
  padding-top:5px;
  padding-left:10px;
  vertical-align: middle;
}

.arvore-acervo-item input {
    padding: 0;
    margin:0;
    margin-top: 0px !important;
    vertical-align: middle;
    position: relative;
    /* top: 5px;*/
    overflow: hidden;
}

.arvore-categoria-item {
  font-weight: 400;
  padding-left: 40px;
  margin-top: 5px;
  line-height: 1em;
}

.expandir-comprimir {
  cursor: pointer;
  width: 12px;
  display: inline;
  margin-right: 10px;
}