
.aviso-comando {
  padding : 10px;
  width:300px;
  z-index: 100000;
  background-color:rgba(0,0,0,0.8);
  border-radius: 5px;
  position : fixed;
}

.aviso-comando input {
  color:black;
  margin-bottom: 3px;
}
.aviso-comando-barra-titulo {
  
  background-color: #404040;
  margin-bottom: 5px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 5px;
  padding-left: 10px;
  border-radius: 5px 5px 0 0;
}

.aviso-comando-barra-titulo-label {
  font-weight: bold; 
}

.aviso-comando-fechar {
  cursor: pointer;
  float: right;
}

.aviso-comando-send {
  width:50px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgba(150,150,150,0.8);
  cursor: pointer;
  position: absolute;
  right: 8px;
  bottom: 10px;
  vertical-align: middle;
  line-height: 50px;
}

.aviso-comando-send:hover{
  background-color: rgba(250,250,250,0.8);
}