.status-popup {
    width: 350px;
}

.status-popup-conteudo {
    max-height: 300px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.leaflet-popup-content {
    width: 100% !important; 
    padding-right: 10px;
}
/*
.leaflet-popup {
    -webkit-perspective: 1000;
}*/
.status-popup .leaflet-popup-tip,
.status-popup .leaflet-popup-content-wrapper {
    background: #312c2c;
    color: #ffffff;
}

.leaflet-popup-content {
    margin: 15px 10px;
    
}

.leaflet-popup-content-wrapper {
    border-radius:0;
    min-height: 70px; 
    
}

.leaflet-popup-content .descricao{
    white-space:pre-line;
}

.leaflet-popup .pontos-relacionados img{
    width: 20px;
    border: solid 1px rgba(10,10,10,0.2);
    background-color: rgb(152, 196, 255);
    cursor: pointer;
}

.leaflet-popup hr{
    margin: 5px 0px;
    color: red;
}

.leaflet-popup .pontos-relacionados .acao{
    padding-bottom: 5px;
}
.leaflet-popup .pontos-relacionados .acao a{
    cursor: pointer;
}

.leaflet-popup .pontos-relacionados .itens .coluna{
    padding-right: 5px;
}

.leaflet-popup .pontos-relacionados .linha{
    margin-top: 3px;
    white-space:pre-line;
}

#areasDeAtuacao {
    padding-bottom: 5px;
    border-bottom: 1px solid #444 ;
    margin-bottom: 5px;
}

.leaflet-popup .titulo-informacoes{
    padding-top: 5px;
    text-align: center;
    font-size: 1.1em;
}

.carrega-url {
    border: none;
    height: 200px;
}

.cameras-proximas {
    display: inline-block;
    width: 33.3%;
    border: none;
    padding: 3;
}

.cameras-proximas .cameras-proximas-descricao {
    color: white;
    height: 30px;
    text-overflow: clip;
    /*white-space: nowrap;
    overflow: hidden;*/
    
    
}

.cameras-proximas-iframe {
    border: none;
}

.status-popup-html {
    overflow: auto;   
}