.agrupamento {
    width: 32px;
    height: 32px;
    background-repeat:no-repeat;
    
}

.agrupamento .imagem {
    width: 100%;
    height: 100%;
    
}

.agrupamento .texto {
    position: relative;
    top: 0px;
    right: -5px;
    position: absolute;
    color: #ff0088;
    font-weight: 700;
    vertical-align: top;
    text-align: right;
    
    text-shadow:  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0),
                  0 0 0.9em rgb(255, 255, 0);

}