.div-mosaicos-content {
    position: absolute;
    z-index: 100000;
    background-color: rgba(0, 0, 0, 0.9);
    right: 0;
    left: 0;
    bottom: 0px;
    top: 0;
}

.mosaicos-button {
    top: calc(var(--menu-topo) + 429px);
}

.mosaicos {
    background-color: white;
    border: 5px solid black;
}

.div-titulo-painel-mosaicos {
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    padding: 2px 0px 15px 0px;
    border-bottom: 0.0px solid grey;
    display: flex;
    justify-content: center;
}

.div-titulo-painel-mosaicos span {
    background-color: rgba(66, 66, 66, 0.5);
    border-radius: 3px;
    padding: 5px 20%;
}

.avisos-botao-expandir-mosaicos {
    cursor: pointer;
    position: absolute;
    margin-left: 96%;
    float: left;
    top: 10px;
    font-size: 1.0em;
    padding: 0px 10px;
}

.grid-layout-container-5 {
    /* display:grid;
    grid-template-columns: repeat(5,330px); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.div-body-mosaico {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
    height: 100%;
    width: 100%;
}

.mosaico-btn-popup {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.7);
    width: 22px;
    height: 22px;
    border-radius: 3px;
    border: solid 1px rgba(120, 120, 120, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
}

.mosaico-options-popup {
    padding: 5px 0px 2px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

.mosaico-options-popup select {
    padding: 5px;
    margin: 0 5px 0 5px;
    color: rgba(0, 0, 0, 0.7)
}

.mosaico-options-popup select {
    padding: 5px;
    margin: 0 5px 0 5px;
}

.mosaico-fechar {
    cursor: pointer;
    position: absolute;
    top: 10px;
    font-size: 1.0em;
    padding: 0px 10px;
    margin-right: 10px;
    right: 15px;
}