.sidebar-button button{
  right: 15px;
  float: right;
}

.Sidebar-demo {
  padding: 15px;
}

.Sidebar-demo {
  position: absolute !important;
  text-align: right;
  top: 10px;
  right: 15px;
  z-index: 1000;
}

.modal-body {
  padding-left:10px !important;
}

.Sidebar.modal.fade .modal-dialog {
  transition: none;
}
.Sidebar.modal.fade {
  transition: transform 0.3s ease-out, opacity 0.15s linear;
}
.Sidebar.modal.fade:not(.in).left {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right {
  transform: translate3d(100%, 0, 0);
}
.Sidebar.modal {
  /* overflow: auto; */
  max-width: 100%;
  box-shadow: 5px 0 10px;
  background-color: #404040;
}
.Sidebar.modal.left {
  right: auto;
}
.Sidebar.modal.right {
  left: auto;
}
.Sidebar.modal .modal-dialog {
  margin: 0;
  width: auto;
}
.Sidebar.modal .modal-dialog .modal-content {
  background-color: transparent;
  border: 0;
  box-shadow: none;
}
.Sidebar.modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.Sidebar.modal.fade:not(.in).left .modal-dialog {
  transform: translate3d(-100%, 0, 0);
}
.Sidebar.modal.fade:not(.in).right .modal-dialog {
  transform: translate3d(100%, 0, 0);
}

.Sidebar .nav {
  width: 320px;
}
.Sidebar .nav>li>a:focus{
  background-color: gray;
}
.Sidebar .nav>li>a:hove{
  background-color: gray;
}
