html, body, .container-fluid{
   height:100%;
}

body {
  background-color:  rgba(17, 17, 17, 0.94);
  color: rgba(255,255,255,0.8);
  margin:0px 15px;
  padding: 0px;
}

.root{
  min-height: 100%;
  height: 100%;
}

.content-fluid{
  padding: 5px;
}

.modulo {
  padding: 5px;
  margin: 0px;
  height: 100%;
}

@media (max-width:767px){
  #layout-corpo {
    height: 95%;
  }
}

@media(min-width:992px),(min-width:768px),(min-width:1200px){
  #layout-corpo {
    height: 95%;
  }

}

.lista-lateral {
  height: 85%;
}

.lista-lateral .panel-body{
  overflow: auto;
  height: -moz-calc(100% - (20px + 30px));
  height: -webkit-calc(100% - (20px + 30px));
  height: calc(100% - (20px + 30px));
}

.mapa-lateral {
  border: solid 0px yellow;
  height: 100%;
  padding: 5px;
  margin: 0 !important;
  /* width: 200px !important; */
}

.mapa-lateral .altura {
    min-height: 75%;
    height: 75%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.bg-grafite {
  background-color: rgba(51,51,51,0.8) ;
  border-color: #404040;
}

.bg-grafite .panel-heading {
  color: #fff;
  background-color: #404040;
  border-color: #404040;
  background-image: none;
}

.rodape {
  position: relative;
  width: 100%;
  float: right;
  height: 25px;
}

.rodape .panel, .rodape .panel-body{
  height: 25px;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.area-titulo {
  height: 15%;
  border-radius: 5px;
  padding-bottom: 10px;
}

.area-titulo .box {
  border: solid 1px #444;
  height: 100%;
  padding: 3px ;
  background-color:#404040;
  vertical-align: middle;  
}

.area-titulo img{
  height: 100%;
  border-radius: 5px;
  float:left;
}

.area-titulo .texto {
  margin-left:10px;
  float:left;
  font-size: 2.8em;
  text-shadow: #555 1px 2px ;
  width:60%;
  height: 100%;
  line-height: 100%;
  color:rgba(0, 0, 0,0.7);
}

.area-titulo .logout {
  cursor: pointer;
  font-size: 1.5em;
  margin-top: -30px;
  margin-right: 15px;
  float: right;
  color: #fff;
}
/* login*/

.login {
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.login .form-group {
  margin-left: 30px ;
  margin-right: 30px;
}

.login .logo {
  border-radius: 5px;
  margin-bottom: 20px;
  width:120px;
}

.login .error {
  color: #e92a2a;
  padding-bottom: 15px;
  font-weight: bolder;
}

.bg-grafite {
	background-color: rgba(51, 51, 51, 0.8);
	border-color: #404040;
}

.bg-grafite .panel-heading {
	color: #fff;
	background-color: #404040;
	border-color: #404040;
	background-image: none;
}

.bg-grafite .panel-footer {
	color: #fff;
	background-color: #404040;
	border-color: #404040;
	background-image: none;
}
